<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Team 3291</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin/dashboard/robots.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    
    <div id="robot-container">

    </div>

    <form id="robotForm">
        <input type="text" id="name" placeholder="Robot Name" required /><br />
        <input type="number" id="year" placeholder="Year" required /><br />
        <input type="text" id="season" placeholder="Season (e.g., Crescendo)" required /><br />
        <textarea id="description" placeholder="Description" required></textarea><br />
        <input type="url" id="githubLink" placeholder="GitHub URL" /><br />

        <hr />
        
        <label>Robot Image (.png):</label>
        <input type="file" id="imageFile" accept=".png" required /><br />

        <label>3D Model (.glb):</label>
        <input type="file" id="modelFile" accept=".glb" required /><br />
        
        <hr />

        <button type="submit" id="submitBtn">Save Robot Display</button>
    </form>
    <script type="module" src="/js/admin/dashboard/uploads.js"></script>
    <script type="module" src="/js/admin/dashboard/robots.js"></script>
</body>
</html>