<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ye shall not pass!</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/errors/css/401.css">
</head>
<body>
    <canvas id="bg"></canvas>
    <div class="error">
        <h1 class="big">
            <span>4</span>
            <span>0</span>
            <span>1</span>
        </h1>
        <h1>Ye shall not pass!</h1>
        <p>
            🏴‍☠️ Arrr! Ye don't have permission to board this vessel.
            This treasure be locked away until ye prove who ye are!
        </p>
        <p>
            Login to continue your adventure and claim the riches that await ye
            <a href="/admin">here</a>
            .
        </p>
    </div>

    <script src="/errors/js/401bg.js"></script>
</body>
</html>