<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry, you got lost!</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/errors/css/404.css">
</head>
<body>
    <canvas id="bg"></canvas>
    <h1 class="bouncy">
        <span>4</span>
        <span>0</span>
        <span>4</span>
    </h1>
    <h1>Looks like your ship got a little lost!</h1>
    <p></p>

    <script src="/errors/js/404bg.js"></script>
</body>
</html>