<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry, you got lost!</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/errors/css/404.css">
</head>
<body>
    <canvas id="bg"></canvas>
    <div class="upper-text">
        <h1 class="big">
            <span>4</span>
            <span>0</span>
            <span>4</span>
        </h1>
        <h1>Looks like your ship got a little lost!</h1>
        <p>Oops! The page you're looking for doesn't exist! Don't worry, we'll help you find your way back!</p>
    </div>
    <div class="logs">
        <a href="" class="log"><span>Home</span></a>
        <a href="" class="log"><span>Donate</span></a>
        <a href="" class="log"><span>Join</span></a>
        <a href="" class="log"><span>Robots</span></a>
    </div>

    <script src="/errors/js/404bg.js"></script>
</body>
</html>