<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ship Has Sunk!</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/errors/css/500.css">
</head>
<body>
    <canvas id="bg"></canvas>
    <div class="error">
        <h1 class="big">
            <span>5</span>
            <span>0</span>
            <span>0</span>
        </h1>
        <h2>Captain! We've sprung a leak!</h2>
        <p>
            The server ship has run aground on a mysterious island.
            Our crew is working below deck to patch the hull.
        </p>
        <a href="/">Return to Safe Harbor</a>
    </div>
    <script src="/errors/js/500bg.js"></script>
</body>
</html>