<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 3291 | Expore our Robots!</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/pages/robots.css">


    <!-- CDN Imports -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.3.1/model-viewer.min.js"></script>
</head>
<body>
    <nav>
        <a href="#">
            <img src="../../public/assets/images/nav-logo.png" alt="Team 3291 Logo" class="logo">
        </a>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Robots</a></li>
        </ul>
        <ul class="nav-btns">
            <li><a href="#" class="btn">Join</a></li>
            <li><a href="#" class="btn">Donate</a></li>
        </ul>
    </nav>
    <header>
        <button class="logo-bg" onclick="showFrcRobots()">
            <img src="../../public/assets/images/frc-icon.png" alt="FRC - FIRST Robotics Competition" class="logo">
        </button>
        
        <h1>Check out our Robots!</h1>

        <button class="logo-bg" onclick="showFtcRobots()">
            <img src="../../public/assets/images/ftc-icon.png" alt="FRC - FIRST Tech Challenge" class="logo">
        </button>
        
    </header>

    <main>
        <div id="robot-container"></div>
    </main>
    

    <script src="../../public/js/pages/robots.js"></script>
</body>
</html>